[submodule "vendor/cosmos"]
	path = vendor/cosmos
	url = https://github.com/Eluvade/cosmos
[submodule "vendor/monolith-terrain"]
	path = vendor/monolith-terrain
	url = https://github.com/kaolti/monolith-terrain
[submodule "vendor/webgl-wireframes"]
	path = vendor/webgl-wireframes
	url = https://github.com/mattdesl/webgl-wireframes
